@using Busticketsales.Models;
@model IList<CustomerOrder>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách khách hàng đặt vé</h2>
    </div>
    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="CustomerOrder" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i> Thêm mới
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-2 text-center">Họ Tên</th>
                                    <th class="col-2 text-center">SĐT</th>
                                    <th class="col-2 text-center">Điểm Đón</th>
                                    <th class="col-2 text-center">Điểm trả</th>
                                    <th class="col-1 text-center">Ẩn/hiện</th>
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="text-center" scope="row">@item.CustomerOrderID</th>
                                        <td class="text-center">@item.FullName</td>
                                        <td class="text-center">@item.SĐT</td>
                                        <td class="text-center">@item.PointStrDetail</td>
                                        <td class="text-center">@item.PointEndDetail</td>
                                        <td class="text-center">@item.IsActive</td>
                                        <td class="text-center">
                                            
                                            <a asp-area="Admin" asp-controller="CustomerOrder" asp-action="Details"
                                           asp-route-id="@item.CustomerOrderID" class="btn bg-success btn-sm"
                                               title="sửa "><i class="text-white bi bi-eye "></i></a>
                                            <a asp-area="Admin" asp-controller="CustomerOrder" asp-action="Edit"
                                           asp-route-id="@item.CustomerOrderID" class="btn bg-warning btn-sm"
                                               title="xóa "><i class="text-white bi bi-pencil "></i></a>
                                            <a asp-area="Admin" asp-controller="CustomerOrder" asp-action="Delete"
                                           asp-route-id="@item.CustomerOrderID" class="btn btn-danger btn-sm"
                                               title="xóa "><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
