@using Busticketsales.Models;
@model IList<BookingOrder>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2> Danh sách các chuyển xe</h2>
    </div>
    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Buses" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i> Thêm mới
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-2 text-center">Giờ khởi hành</th>
                                    <td class="col-2 text-center">Giờ đến nơi</td>
                                    <th class="col-2 text-center">Điểm Đón</th>
                                    <td class="col-2 text-center">Điểm trả</td>
                                    <td class="col-1 text-center">Ẩn/hiện</td>
                                    <th class="col-3 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="text-center" scope="row">@item.BookingOrderID</th>
                                        <td class="text-center">@item.Time</td>
                                        <td class="text-center">@item.ArrivalTime</td>
                                        <td class="text-center">@item.PointStart</td>
                                        <td class="text-center">@item.PointEnd</td>
                                        <td class="text-center">@item.IsActive</td>
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Buses" asp-action="Edit"
                                           asp-route-id="@item.BookingOrderID" class="btn bg-success btn-sm"
                                               title="sửa tài khoản"><i class="text-white bi bi-pencil"></i></a>
                                            <a asp-area="Admin" asp-controller="Buses" asp-action="Delete"
                                           asp-route-id="@item.BookingOrderID" class="btn btn-danger btn-sm"
                                               title="xóa tài khoản"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>